{{#each days}}
    <ol class="list-group bg-primary p-3 my-3">
        <span class="bg-light my-1 border rounded p-3">{{this.day}}, {{this.date}}</span>
        {{#each this.classes}} 
            <a class="list-group-item bg-light list-group-item-action subject">
                {{this.name}}
                <ul class="list-group d-none">
                    <li class="list-group-item">{{this.time}}</li>
                    <li class="list-group-item">{{this.groups}}</li>
                    <li class="list-group-item">{{this.lecturer}}</li>
                </ul>
            </a>
        {{/each}}
    </ol>
{{/each}}